@{
    ViewData["Title"] = "Add User";
}

@model User

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.HiddenFor(m => m.UserID)
    </div>
    <div class="form-group  p-3">
        @Html.LabelFor(m => m.UserName, new { @class = "form-label m-t-3" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Name" })
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group p-3">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email" })
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group p-3">
        @Html.LabelFor(m => m.MobileNumber, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Enter Mobile Number" })
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group p-3">
        @Html.LabelFor(m => m.Address, new { @class = "form-label" })
        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter Address" })
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group p-3">
        @Html.LabelFor(m => m.RoleID, new { @class = "m-2" })
        @Html.DropDownListFor(m => m.RoleID, Model.RoleList, "--Select--", new { @class = "form-control" })
        <span asp-validation-for="RoleID" class="text-danger"></span>
    </div>

    <div class="form-group p-3">
        @Html.LabelFor(m => m.Status) <br />
        @Html.RadioButtonFor(m => m.Status, true)Active<br />
        @Html.RadioButtonFor(m => m.Status, false)InActive
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-check btn-group p-3">
        <button type="submit" class="btn btn-primary m-2">Submit</button>
        <button type="reset" class="btn btn-danger m-2">Clear</button>
    </div>
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
