@using Newtonsoft.Json
@using LMS.Models
@inject IConfiguration configuration

@{
    var apiURL = Convert.ToString(configuration.GetSection("API")["URL"]);

    var menuJson = Context.Session.GetString("MenuDetails");
    var menuDetails = string.IsNullOrEmpty(menuJson) ? new List<Menu>() : JsonConvert.DeserializeObject<List<Menu>>(menuJson);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - LMS</title>

    <link href="@Url.Content("~/assets/plugins/jqGrid/css/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/plugins/jqGrid/css/ui.jqgrid.min.css")" rel="stylesheet" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />

    <script>
        var ROOT = '@Url.Content("~/")';
        var APIURL = '@apiURL';
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    Library Management System
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                    <ul class="navbar-nav">

                        @if (menuDetails != null && menuDetails.Any())
                        {
                            foreach (var menu in menuDetails
                            .Where(m => m.IsRead)
                            .OrderBy(m => m.DisplayOrder))
                            {
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="@Url.Content(menu.MenuURL)">
                                        @menu.DisplayName
                                    </a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-controller="Login" asp-action="Logout">
                                Logout
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        @if (TempData["Message"] != null)
        {
            var type = TempData["Type"] ?? "success";
            <div class="alert alert-@type notification text-center mx-auto" style="width:350px;">
                @TempData["Message"]
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2026 - LMS-NS
        </div>
    </footer>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/book.min.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/plugins/jqGrid/js/grid.locale-en.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/plugins/jqGrid/js/jquery-ui.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/plugins/jqGrid/js/jquery.jqGrid.min.js")" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
