@{
    ViewData["Title"] = "Add Book";
}

@model LMS.Models.Book

<div class="container mt-4">
    <div class="row justify-content-center">
       
        <div class="col-md-7 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Add Book</h5>
                </div>

                <div class="card-body p-4">
                    @using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.BookId)

                        <!-- Book Title -->
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Title, new { @class = "form-label" })<span class="text-danger">*</span>
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
                            <span asp-validation-for="Title" class="text-danger small"></span>
                        </div>

                        <!-- Publisher -->
                        <div class="mb-3">
                            @Html.LabelFor(m => m.PublisherID, new { @class = "form-label" })<span class="text-danger">*</span>
                            @Html.DropDownListFor(
                            m => m.PublisherID,
                            Model.PublisherList,
                            "-- Select Publisher --",
                            new { @class = "form-control" }
                            )
                        <span asp-validation-for="PublisherID" class="text-danger small"></span>
                    </div>

                    <!-- Category -->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.CategoryID, new { @class = "form-label" })<span class="text-danger">*</span>
                        @Html.DropDownListFor(
                                                m => m.CategoryID,
                                                Model.CategoryList,
                                                "-- Select Category --",
                                                new { @class = "form-control" }
                                                )
                        <span asp-validation-for="CategoryID" class="text-danger small"></span>
                    </div>


                    <!-- Price -->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Price, new { @class = "form-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control"})
                        <span asp-validation-for="Price" class="text-danger small"></span>
                    </div>

                    <!-- Quantity -->
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Quantity, new { @class = "form-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                        <span asp-validation-for="Quantity" class="text-danger small"></span>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end gap-2">
                        <button type="reset" class="btn btn-secondary">Clear</button>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
