

@model IList<Book>

<div class="container mt-4">

    <div class="d-flex align-items-center mb-3 justify-content-between">
        <h4>Book List</h4>
        <div>
            <a href="@Url.Content("~/Book/AddBook")" class="btn btn-primary">Add Book</a>
            <a href="@Url.Content("~/Book/ClearAll")" class="btn btn-danger text-white"> Clear All</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-secondary text-left">
                <tr>
                    <th>Sl.No</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Publication Year</th>
                    <th>Quantity</th>
                    <th>Publisher</th>
                    <th style="width:180px">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Genre</td>
                        <td>@book.Price</td>
                        <td>@book.Year</td>
                        <td>@book.Quantity</td>
                        <td>@book.PublisherName</td>
                        <td class="text-center">
                            <a href="@Url.Action("EditBook", "Book", new { id = book.Id })" class="btn btn-sm btn-info text-light me-1">
                                Edit
                            </a>

                            <form asp-action="DeleteBook" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@book.Id" />
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
