

@model IList<Book>

<div class="container mt-4">

    <form id="antiForgeryForm" method="post">
        @Html.AntiForgeryToken()
    </form>

    <div class="d-flex align-items-center mb-3 justify-content-between">
        <h4>Book List</h4>
        <div>    
            <a href="@Url.Content("~/Book/AddBook")" class="btn btn-primary">Add Book</a>
        </div>
    </div>

    <div class="container-fluid">
        <table id="bookGrid"></table>
        <div id="bookPager"></div>
    </div>

    @* <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-primary text-left">
                <tr>
                    <th>Action</th>
                    <th>Sl.No</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null && Model.Any())
                {
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("EditBook", "Book", new { id = book.BookId })" class="btn btn-sm btn-info text-light me-1">
                                    Edit
                                </a>

                                <form asp-action="DeleteBook" method="post" class="d-inline">
                                    <input type="hidden" name="bookID" value="@book.BookId" />
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form> 

                            </td>
                            <td>@book.BookId</td>
                            <td>@book.Title</td>
                            <td>@book.Price</td>
                            <td>@book.CategoryName</td>
                            <td>@book.Quantity</td>
                            <td>@book.PublisherName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" class="text-center text-danger">No books available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> *@

    @section Scripts {
        <script src="@Url.Content("~/js/bookList.min.js")" asp-append-version="true"></script>
    }


</div>


