@model IEnumerable<PRACTICE.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h3 class="mb-3">Student List</h3>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Add" class="btn btn-primary">
        Add Student
    </a>

    <input type="text"
           id="search-input"
           class="form-control w-25"
           placeholder="Search student..." />
</div>

<!-- Notification Message -->
@if (TempData["Message"] != null)
{
    var type = TempData["Type"] ?? "success";
    <div id="notification" class="alert alert-@type text-center mx-auto" style="width:300px; margin-bottom:10px;">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.StudentName</td>
                <td>@student.StudentCourse</td>
                <td class="text-center">
                    <a href="@Url.Action("Edit", "Student", new { id = student.StudentID })" class="btn btn-sm btn-info text-light me-1">Edit</a>

                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@student.StudentID" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }
            <tr id="not-found" style="display:none;">
                <td colspan="4" class="text-center text-danger">Data not found</td>
            </tr>
    </tbody>
</table>